
<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
  <h1>Hi, <%= @user.fullname %> </h1>
  <p>Your verification link is: <a href="<%= "#{@FE_URL}/auth/verify?user_id=#{@user.id}&code=#{@verification.verification_code}" %>"><%= "#{@FE_URL}/auth/verify?user_id=#{@user.id}&code=#{@verification.verification_code}" %></a></p>
  <p>Please use this link to verify your registration on our app.</p>
 </body>
</html>
