
<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
  <h1>Hi, <%= @user.fullname %> </h1>
  <p>Your verification link is: <a href="<%= "#{ENV['FE_URL']}/auth/verification?code=#{@verification.verification_code}" %>"><%= "#{ENV['FE_URL']}/auth/verification?code=#{@verification.verification_code}" %></a></p>
  <p>Please use this link to verify your registration.</p>
 </body>
</html>
